<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block link %}
    {% endblock %}

    {% block script %}
    {% endblock %}
    

    {% block style %}
    {% endblock %}
    
    <title>AICPred | {% block title %}{% endblock %}</title>
  </head>
  
  <body>
    <header class="main-header">
      <div class="main-header__content">
        <div class="main-logo">
          <h1>
            <a href="/" {% if request.path == '/' %}aria-current="page"{% endif %}>AICPred</a>
          </h1>
        </div>
  
        <nav aria-label="primary" class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__list-item">
              <a href="/" {% if request.path == '/' %}aria-current="page"{% endif %}>Home</a>
            </li>
            <li class="main-nav__list-item">
              <a href="/upload" {% if request.path == '/upload' %}aria-current="page"{% endif %}>Upload</a>
            </li>
            <li class="main-nav__list-item">
              <a href="/tutorials" {% if request.path == '/tutorials' %}aria-current="page"{% endif %}>Tutorials</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-content">
      {% block content %}
      {% endblock %}
    </main>
    
    {% block footer %}
    {% endblock %}
  </body>
</html>