{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
<div style="padding:0 0 10px 30px;">
    <br>
    <h1>ACICpred</h1>
    <p>ACICPred is a web application for predicting anti-inflammatory molecules capable of ameliorating the cytokine storm by inhibiting the toll-like receptor 4 (TLR4)
        The machine learning models were trained on 196,655 TLR4 inhibitors and non-inhibitors 
        XGBoost (XGB) which was the top performing model obtained a precision of 90%. 
    </p> 

    <h6>This work is yet to be published</h6>
</div>        
{% endblock %}