{% extends "base.html" %}

    
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
{% endblock %}



{% block title %}
  Home
{% endblock %}

{% block content %}
  <section class="hero-section" aria-labelledby="hero-section-title">
    <h2 id="hero-section-title">StormPred</h2>

    <div class="hero-section__content">
      <p>StormPred is a web application that uses machine learning to predict small molecules that can inhibit the TLR4’s pro-inflammatory role during the COVID-19 cytokine storm. The models were trained on 195,980 experimentally-tested TLR4 activators and inhibitors. The web app offers predictions using the Decision Tree Classifier model, which achieved a balanced accuracy of 0.94 and an AUROC score of 0.94 and the XGBoost model, which achieved a balanced accuracy of 0.96 and AUCROC score of 0.99.</p>

      <a class="btn" href="/upload">Upload</a>
    </div>
  </section>

  <section class="faq-section" aria-labelledby="faq-section-title">
    <h2 id="faq-section-title" class="section-title">Frequently Asked Questions</h2>

    <div class="faq-section__content">
      {% for faq in faqs %}
        <button type="button" class="faq-section__card" data-target="faq-{{loop.index}}">
          <span>{{faq.question}}</span>
          <span class="sr-only">View Answer</span>
        </button>
        <dialog id="faq-{{loop.index}}" class="faq-section__dialog">
          <article>
            <h3>{{faq.question}}</h3>
            <p>{{faq.answer}}</p>
            <button type="button">
              <img src="../static/images/icons8-close-24.png" alt="Close" class="close-image" />
              <span class="sr-only">Close</span>
            </button>
          </article>
        </dialog>
      {% endfor %}
    </div>
    
  </section>

  <section class="citations-section" aria-labelledby="citations-section-title">
    <h2 class="section-title" id="citations-section-title">Citations</h2>

    <div class="citations-section__content">
      <p>Lucindah N. Fry-Nartey, Cyril S. Akafia, Ursula S. Nkonu, Kwasi Agyenkwa-Mawuli, Michael D. Wilson , Samuel K. Kwofie Machine Learning Models Predict Small Molecules as Potential Biotherapeutics for COVID-19-induced Cytokine Storm <a href="#" target="_blank" rel="noopener">&lt;Link&gt;</a></p>
      <!-- TODO: Add better text for link -->
    </div>
  </section>
{% endblock %}

{% block footer %}
  <footer class="main-footer">
    <div class="main-footer__content">
      {% for contact in contacts %}
        <address>
          <p>{{contact.title}}</p>
          <p>{{contact.name}}</p>
          <a href="mailto:{{contact.email}}">{{contact.email}}</a>
        </address>
      {% endfor %}
    </div>
  </footer>
{% endblock %}