{% extends "base.html" %}

{% block title %}
  Upload | Upload
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/upload.js') }}" defer></script>
{% endblock %}

{% block style %}
<style>
.centered-input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
  }
</style>
{% endblock %}

{% block content %}
  <section class="upload-section" aria-label="Upload SMILES">
    <div class="upload-section__form-container">
        <h2 class="section-title">StormPred</h2>
        <p>Upload a text file containing compound PubChem IDs and SMILES to make a prediction.</p>
      
        <form id="upload-form" class="upload-section__form" method="POST" action="{{ url_for('upload_file_page') }}" aria-label="Upload" enctype="multipart/form-data">
          {{ file_form.hidden_tag() }}
          <div class="form-group">
            {{ file_form.file(class="form-control centered-input") }}
          </div>
          <div class="form-group">
            {{ file_form.model_type(class="form-control centered-input") }}
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
        <br>
        <a href="{{ url_for('upload_page') }}" type="button" class="upload-section__example-btn btn btn--secondary">To input ID and SMILES manually</a>
      </div>
      

      {% if results %}
      <div id="results" class="upload-section__output-container" data-has-results="true">
        <output form="upload-form" class="upload-section__output">
          <header>
            <div class="flex justify-space-betwwen align-center">
              <h2>Results</h2>
              <a href="{{ url_for('download_csv') }}" class="btn btn--sm">Download Report</a>
            </div>
            <p>{{ results.smiles }}</p>
          </header>

          <div class="upload-section__output-content">
            <div class="upload-section__output-img-section">
              <div class="upload-section__output-img-container">
                <img src="data:image/png;base64, {{ results.image }}" alt="Molecule">
              </div>
              <div class="upload-section__output-img-container">
                <img src="data:image/png;base64, {{ results.adImage }}" alt="Applicability Domain">
              </div>
            </div>

            <table class="upload-section__output-table">
              <tr>
                <th>Model used</th>
                <th>MW (g/mol)</th>
                <th>Activity</th>
                <th>Confidence</th>
                <th>AD Analysis</th>
              </tr>
              <tr>
                <td>{{ results.model_type }}</td>
                <td>{{ results.mw }}</td>
                <td>{{ results.activity }}</td>
                <td>{{ results.confidence }}</td>
                <td>{{ results.ad }}</td>
              </tr>
            </table>
          </div>
        </output>
      {% else %}
        <p class="flash-message">Upload text file with accurate SMILES to view activity</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
