.hero-section {
  min-height: calc(100vh - 4em);
  display: grid;
  justify-items: center;
  align-content: center;
  padding-inline: var(--content-padding-inline);
  padding-block: 2em;
  text-align: center;
}


.hero-section > h2 {
  font-size: clamp(3rem, calc(2.5rem + 3vw), 5rem);
  font-weight: var(--fw-medium);
  color: var(--clr-accent-dark);
}

.hero-section__content {
  display: grid;
  justify-items: center;
  gap: 2em;
}

.hero-section__content > p {
  font-size: 1rem;
}

.hero-section__content > a {
  width: clamp(10em, calc(7.5em + 10vw), 15em);
}

.citations-section {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-inline: var(--content-padding-inline);
  padding-block: 2em;
  margin-bottom: 1.5em;
}

.citations-section__content p {
  max-width: 70ch;
}

.citations-section__content a {
  color: inherit;
  text-decoration: underline;
}

.main-footer {
  background-color: var(--clr-accent);
}

.main-footer__content {
  padding-block: clamp(3em, calc(2.5em + 5vw), 5em);
  padding-inline: var(--content-padding-inline);
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--content-max-width);
  margin-inline: auto;
}

.main-footer__content > address {
  color: #fff;
  text-align: center;
  width: fit-content;
}

.main-footer__content > address p:first-child {
  font-size: 1.25rem;
  font-weight: var(--fw-medium);
}

.main-footer__content > address a {
  color: inherit;
  text-decoration: underline;
  outline-color: currentColor;
}