:root {
  scroll-padding-top: 1em;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

.main-content {
  display: grid;
  place-items: center;
  width: 100%;
  padding-block: 2em;
}

.upload-section {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2em;

  padding-inline: var(--content-padding-inline);
}

.upload-section__form-container {
  display: grid;
  text-align: center;
  justify-items: center;
  align-content: center;
  padding-inline: clamp(1em, calc(-1em + 5vw), 3em);
  padding-block: clamp(1em, calc(-0.5em + 5vw), 5em);
  background-color: #f1f1f1;
  border-radius: 0.5em;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 4px 4px 7.5px #0003;
}

.upload-section__form-container > * {
  width: 100%;
  max-width: 25em;
}

.upload-section__example-btn {
  width: -moz-fit-content;
  width: fit-content;
}

.upload-section__form {
  display: grid;
  grid-auto-flow: row;
  gap: 0.625em;
  margin-top: 1.5em;
}

.upload-section__form input[type="text"],
.upload-section__form input[type="number"],
.upload-section__form select {
  border: 1px solid #0009;
  border-radius: 0.5em;
  padding-block: 0.625em;
  padding-inline: 0.625em;
  background-color: #0000;
}

.upload-section__form select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23000' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 1 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  background-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.upload-section__form button[type="submit"] {
  padding-block: 0.625em;
}

.upload-section__output-container {
  display: grid;
  padding-inline: clamp(1em, calc(-1em + 5vw), 3em);
  padding-block: 1.5em;
  place-content: center;
}

.upload-section__output-container[data-has-results="true"] {
  background-color: hsl(var(--hsl-accent) / 0.1);
  border-radius: 0.5em;
  box-shadow: 4px 4px 7.5px #0003;
}

.upload-section__output {
  display: grid;
  height: 100%;
  gap: 1em;
  max-width: 25em;
}

@media (min-width: 48em) {
  .upload-section__output {
    max-width: none;
  }
}

:where([data-has-results="false"]) .upload-section__output {
  display: none;
}

.upload-section__output header > * + * {
  margin-top: 0.5em;
}

.upload-section__output h2 {
  font-size: 1.5rem;
  font-weight: var(--fw-medium);
  color: #000e;
}

.upload-section__output-content > * + * {
  margin-top: 2em;
}

.upload-section__output-img-section {
  display: grid;
  gap: 0.5em;
}

.upload-section__output-img-container {
  background-color: #fff;
  display: grid;
  place-content: center;
}

@media (min-width: 48em) {
  .upload-section__output-img-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

.upload-section__output-table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--clr-accent);
  border-radius: 0.3125em;
  background-color: #f1f1f1;
  font-size: 0.875rem;
}

.upload-section__output-table th,
.upload-section__output-table td {
  padding-inline: 0.75em;
  padding-block: 0.5em;
}

.upload-section__output-table th {
  background-color:var(--clr-accent);
  font-weight: var(--fw-medium);
  color: #fff;
  text-align: left;
}

.upload-section__output-table th + th {
  border-left: 1px solid hsl(0 100% 100% / 0.25);
}

.upload-section__output-table td + td {
  border-left: 1px solid hsl(var(--hsl-accent) / 0.5);
}
  
.upload-section__output-placeholder {
  color: #0009;
}

:where([data-has-results="true"]) .upload-section__output-placeholder {
  display: none;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}